<input type="text" [(ngModel)]="newTodoText" /> <button (click)="addTodo()">+</button>

<h1>Tâches - {{ todos.length }}</h1>
<div *ngFor="let todo of todos" class="todo-list">
    <div *ngIf="!todo.isChecked">
        <app-todo [todo]="todo" (deleteTriggered)="deleteTodo($event)" (doneTriggered)="todoDone($event)"></app-todo>
    </div>
</div>

<h1>Tâches finies - {{ todosDone }}</h1>
<div *ngFor="let todo of todos" class="todo-list">
    <div *ngIf="todo.isChecked">
        <app-todo [todo]="todo" [ngClass]="'todo-checked'" (deleteTriggered)="deleteTodo($event)" (doneTriggered)="todoDone($event)"></app-todo>
    </div>
</div>